<div class="box">
  <div class="box_header">
    <h1>Edycja szkoleniowca</h1>
  </div>
  <div class="box_content">
    <% form_for(@staff) do |f| %>
      <%= f.error_messages %>

      <p>
        <%= f.label :firstname %><br />
        <%= f.text_field :firstname %>
      </p>
      <p>
        <%= f.label :lastname %><br />
        <%= f.text_field :lastname %>
      </p>
      <p>
        <%= f.label :birthdate %><br />
        <%= f.date_select :birthdate %>
      </p>
      <p>
        <%= f.label :information %><br />
        <%= f.text_area :information %>
      </p>
      <p>
        <%= f.label :role %><br />
        <%= f.text_field :role %>
      </p>
      <p>
        <%= f.submit 'Update' %>
      </p>
    <% end %>
  </div>
</div>