<div>
  <div class="box_header">
    <h1>Logowanie</h1>
  </div>
  <div class="box_content">
    <% form_tag session_path do %>
    <table width="100%">
        <tr>
          <td>
            <div class="login_icon">
              <%= image_tag "join.jpg", :size => "100x100", :align => "left", :hspace => "10" %>
            </div>
          </td>
          <td>
            <div class="login_form">
              <div class="form_row">
                <label for="login">Login:</label>
                <%= text_field_tag 'login', nil, :size => 20 %>
              </div>
              <div class="form_row">
                <label for="password">Hasło:</label>
                <%= password_field_tag 'password', nil, :size => 20 %>
              </div>
              <div class="form_row">
                <span class="small_font">
                  Zapamiętaj mnie:
                  <%= check_box_tag 'remember_me' %>
                </span>
                <%= submit_tag 'Zaloguj' %>
              </div>
            </div>
          </td>
          <td>
            <div class="login_links">
              <% link_to new_user_path do %>
                <div>
                  <%= image_tag "user_add.png", :size => "25x25", :hspace => "10" %>
                  <span class="small_font">
                    Nie masz konta ?
                  </span>
                </div>
              <% end %>
              <% link_to forgot_password_path do %>
                <div>
                  <%= image_tag "unlock.png", :size => "25x25", :hspace => "10" %>
                  <span class="small_font">
                    Nie pamiętasz hasła?
                  </span>
                </div>
              <% end %>
            </div>
          </td>
        </tr>
      </table>
    <% end %>
  </div>
</div>