<td style="text-align: center;">
  <%= standing.matches %>
</td>
<td style="text-align: center;">
  <%= standing.points %>
</td>
<td style="text-align: center;">
  <%= standing.wins %>
</td>
<td style="text-align: center;">
  <%= standing.draws %>
</td>
<td style="text-align: center;">
  <%= standing.losses %>
</td>
<td style="text-align: center;">
  <%= standing.goals %> - <%= standing.lost_goals %>
</td>