<td style="text-align: center;">
  <%= standing.away_matches %>
</td>
<td style="text-align: center;">
  <%= standing.away_points %>
</td>
<td style="text-align: center;">
  <%= standing.away_wins %>
</td>
<td style="text-align: center;">
  <%= standing.away_draws %>
</td>
<td style="text-align: center;">
  <%= standing.away_losses %>
</td>
<td style="text-align: center;">
  <%= standing.away_goals %> - <%= standing.away_lost_goals %>
</td>