<td style="text-align: center;">
  <%= standing.home_matches %>
</td>
<td style="text-align: center;">
  <%= standing.home_points %>
</td>
<td style="text-align: center;">
  <%= standing.home_wins %>
</td>
<td style="text-align: center;">
  <%= standing.home_draws %>
</td>
<td style="text-align: center;">
  <%= standing.home_losses %>
</td>
<td style="text-align: center;">
  <%= standing.home_goals %> - <%= standing.home_lost_goals %>
</td>