<div class="box">
  <div class="box_header">
    <h1>
      Tabela
    </h1>
  </div>
  <div class="box_content">
    <div>
      <table class="small_font" width="100%">
        <tr>
          <th>Nazwa</th>
          <th>M</th>
          <th>Pkt</th>
          <th>Z</th>
          <th>R</th>
          <th>P</th>
          <th>Bramki</th>
          <th>M</th>
          <th>Pkt</th>
          <th>Z</th>
          <th>R</th>
          <th>P</th>
          <th>Br</th>
          <th>M</th>
          <th>Pkt</th>
          <th>Z</th>
          <th>R</th>
          <th>P</th>
          <th>Br</th>
        </tr>
        <% standings = SeasonStanding.find_all_by_season_id(season) %>
        <% for standing in standings %>
        <% if standing.team == team %>
        <% style = "font-weight: bold" %>
        <% else %>
        <% style = "" %>
        <% end %>
        <tr style = "<%= style %>" >
            <td>
              <%= standing.position %>.
              <%= standing.team.official_name %>
            </td>
            <%= render :partial => 'team_stats', :locals => { :standing => standing } %>
            <%= render :partial => 'team_home_stats', :locals => { :standing => standing } %>
            <%= render :partial => 'team_away_stats', :locals => { :standing => standing } %>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>