<div class="box">
  <div class="box_header">
    <h1>Komentarze</h1>
  </div>
  <div class="box_content">
    <table>
      <tr>
        <th>Article</th>
        <th>Body</th>
      </tr>

      <% @comments.each do |comment| %>
        <tr>
          <td><%=h comment.article_id %></td>
          <td><%=h comment.body %></td>
          <td><%= link_to 'Show', comment %></td>
          <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
          <td><%= link_to 'Destroy', comment, :confirm => 'Are you sure?', :method => :delete %></td>
        </tr>
      <% end %>
    </table>

    <br />

    <%= link_to 'New comment', new_comment_path %>
  </div>
</div>