<%= div_for article do %>
  <h3>
    <%= link_to article.title, article %>
  </h3>
  <div class="row">
    <%= render :partial => 'articles/article_details', :object => article %>
  </div>
  <div class="row">
    <% if (article.galleries.empty?) or (article.galleries.last.photos.empty?) %>
      <div class="twelve columns">
        <%= article.body  %>
      </div>
    <% else %>
      <div class="three columns">
        <%= render :partial => "articles/photo", :collection => article.galleries.last.photos %>
      </div>
      <div class="nine columns">
        <%= raw  article.body  %>
      </div>
    <% end %>
  </div>
<% end %>