<div class="row">
  <% if (article_short.galleries.empty?) or (article_short.galleries.last.photos.empty?) %>
  <% else %>
    <div class="two columns">
      <% if article_short.galleries.last.has_main_photo? %>
        <%= render :partial => "articles/photo_short", :object => article_short.galleries.last.main_photo %>
      <% else %>
        <%= render :partial => "articles/photo_short", :object => article_short.galleries.last.photos.last %>
      <% end %>
    </div>
  <% end %>
  <div class="ten columns">
    <%= link_to article_short.title, article_short %>
    <%= render :partial => 'articles/article_details', :object => article_short %>
    <%= link_to article_short.summary_sentence, article_short %>
  </div>
</div>
