<%= render :partial => "editor"  %>
<div class="box">
  <div class="box_header">
    <h1>Artykuł edycja</h1>
  </div>
  <div class="box_content">
    <% form_for(@article) do |f| %>
      <%= f.error_messages %>

      <p>
        <%= f.label :title %><br />
        <%= f.text_field :title %>
      </p>

      <p>
        <%= f.label :summary_sentence %><br />
        <%= f.text_field :summary_sentence %>
      </p>

      <p>
        <%= f.label :abstract %><br />
        <%= f.text_area :abstract %>
      </p>

      <p>
        <%= f.label :body %><br />
        <%= f.text_area :body %>
      </p>
      <p>
        <%= f.label :published %>
        <%= f.check_box :published %>
      </p>
      <p>
        <%= f.submit 'Zapisz' %>
      </p>
    <% end %>

    <div>
      <%= link_to 'Anuluj', @article %>
    </div>
  </div>
</div>