<% content_for :right do %>
  <%= render :partial => 'matches/next_match', :object => @teams[0].last_match %>
  <%= render :partial => 'matches/last_match', :object => @teams[0].last_match %>
<% end %>

<div class="row">
  <div class="twelve columns">
    <%= render :partial => 'articles_viewer' %>
  </div>
</div>

<% if logged_in? %>
  <% if current_user.has_role?('administrator')  %>
    <% content_for :promo do %>
      <div class="box">
        <div class="box_header">
          <h1>
            Narzędzia administratora
          </h1>
        </div>
        <div class="box_content">
          <div>
            <%= new_article_tool_link %>
          </div>
          <div>
            <%= tool_link 'document.png', 'Pokaż wszystkie', 'articles', 'all' %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
<div class="row">
  <div class="eight columns">
    <%= render :partial =>"article_short", :collection => @articles %>
  </div>
</div>
<div class="row">
  <%= will_paginate @articles, :prev_label => "Poprzednia", :next_label => "Następna"  %>
</div>




