<%= render :partial => "editor"  %>
<div>
  <div>
    <h1>Nowy artykuł</h1>
  </div>
  <div>

    <% form_for(@article) do |f| %>
      <%= f.error_messages %>

    <table cellpadding="0" cellspacing="0" width="100%;">
        <tr>
        <td><%= f.label :published, 'Opublikuj' %></td>
        <td> <%= f.check_box :published %></td>
      </tr>
      <tr>
        <td> <%= f.label :title %>:</td>
        <td><%= f.text_field :title %></td>
      </tr>
      <tr>
        <td><%= f.label :summary_sentence %></td>
        <td><%= f.text_field :summary_sentence %></td>
      </tr>
    
    </table>

      <p>
        <%= f.label :abstract %><br />
        <%= f.text_area :abstract %>
      </p>

      <p>
        <%= f.label :body %><br />
        <%= f.text_area :body %>
      </p>

      <p>
        <%= f.submit 'Zapisz' %>
      </p>
    <% end %>
  </div>
</div>