<div class="row">
  <div class="eight columns">
    <%= render :partial => @article %>
<% if logged_in? %>
  <% if current_user.has_role?('administrator')  %>
    <div class="box">
      <div class="box_content">
        <%= edit_article_tool_link @article %>
        <%= tool_link_id 'images.png', 'Galerie', 'article_gallery', 'index', @article %>
        <%= tool_link_id 'tag.png', 'Tagi', 'article_tag', 'index', @article %>
        <% link_to @article, :confirm => 'Jesteś pewien?', :method => :delete do %>
          <div class="inline_links">
            <%= image_tag "delete.png", :size => "15x15", :hspace => "5" %>
            <small>
              Usuń
            </small>
          </div>
        <% end %>
      </div>
    </div>
  <% else %>
    <% if current_user == @article.user  %>
      <div class="box">
        <div class="box_content">
          <%= edit_article_tool_link @article %>
          <%= tool_link_id 'images.png', 'Galerie', 'article_gallery', 'index', @article %>
          <%= tool_link_id 'tag.png', 'Tagi', 'article_tag', 'index', @article %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
<a id="comments"></a>
<div class="box">
  <div class="box_header">
    <h4>
      Komentarze
    </h4>
  </div>
  <%= render :partial => @comments %>
  <div class="center_align">
    <%= will_paginate @comments, :prev_label => "Poprzednia", :next_label => "Następna" %>
  </div>
</div>
<div class="box">
  <div class="box_header">
    <span class="title">
      Skomentuj ten artykuł
    </span>
  </div>
  <% if logged_in? %>
    <div>
      <% form_for [@article, Comment.new] do |f| %>
        <div class="center_align">
          <%= f.text_area :body, :rows => 4, :cols => 60 %>
        </div>
        <div class="center_align">
          <%= f.submit "dodaj komentarz" %>
        </div>
      <% end %>
    </div>
  <% else %>
    <div>
      <div class="important_font">
        Musisz się zalogować, aby mieć możliwość komentowania.<br />
        <% link_to new_session_path do %>
          <div>
            <%= image_tag "user.png", :size => "25x25", :hspace => "10" %>
            <small>
              Zaloguj.
            </small>
          </div>
        <% end %>
        <% link_to new_user_path do %>
          <div>
            <%= image_tag "user_add.png", :size => "25x25", :hspace => "10" %>
            <small>
              Nie masz konta? Zarejestruj się.
            </small>
          </div>
        <% end %>
      </div>
    </div>

  <% end %>
</div>
  </div>
</div>