<% content_for :right_column do %>
  <div class="box">
    <div class="box_header">
      <span class="title">Legenda</span>
    </div>
    <div class="box_content">
      <small>
        <%=  image_tag "zmiana_on.png", :size => "15x15", :hspace => "5" %> - wejście zawodnika na boisko<br />
        <%=  image_tag "zmiana_off.png", :size => "15x15", :hspace => "5" %> - zejście zawodnika z boiska<br />
        <%=  image_tag "gol.png", :size => "15x15", :hspace => "5" %> - bramka<br />
        <%=  image_tag "zk.png", :size => "15x15", :hspace => "5" %> - żółta kartka<br />
        <%=  image_tag "2zk.png", :size => "15x15", :hspace => "5" %> - 2 żółta kartka<br />
        <%=  image_tag "ck.png", :size => "15x15", :hspace => "5" %> - czerwona kartka<br />
      </small>
    </div>
  </div>
<% end %>