<ul class="nav-bar">
  <li class="active"><%= link_to "Aktualności", :controller => "articles", :action => "index" %></li>
  <li class="has-flyout">
    <%= link_to "Klub", :controller => "club", :action => "index" %>
    <a href="#" class="flyout-toggle"><span> </span></a>
    <ul class="flyout">
      <li><%= link_to "Władze", :controller => "club", :action => "officials" %></li>
      <li><%= link_to "Sponsorzy", :controller => "club", :action => "sponsors" %></li>
      <li><%= link_to "Historia", :controller => "club", :action => "history" %></li>
      <li><%= link_to "Trofea", :controller => "club", :action => "trophies" %></li>
      <li><%= link_to "Kontakt", :controller => "club", :action => "contact" %></li>
    </ul>
  </li>
  <% for team in @teams do %>
      <li class="has-flyout" >
        <%= link_to team.name, :controller => "team", :action => "players", :id => team %>
        <a href="#" class="flyout-toggle"><span> </span></a>
        <ul class="flyout">
          <li><%= link_to "Drużyny", :controller => "team", :action => "index" %></li>
          <li><%= link_to "Rozgrywki", :controller => "fixtures", :action => "index" %></li>
          <li><%= link_to "Multimedia", :controller => "galleries", :action => "index" %></li>
        </ul>
      </li>
    <% end %>

  </ul>