<div class="box">
  <div class="box_header">
    <h1>Edycja występu</h1>
  </div>
  <div class="box_content">
    <% form_for(@appearance) do |f| %>
      <%= f.error_messages %>

      <p>
        <%= f.label :start, 'Początek:' %><br />
        <%= f.text_field :start %>
      </p>
      <p>
        <%= f.label :end, 'Koniec:' %><br />
        <%= f.text_field :end %>
      </p>
      <p>
        <%= f.label :number, 'Numer:' %><br />
        <%= f.text_field :number %>
      </p>
      <p>
        <%= f.submit 'Zapisz' %>
      </p>
    <% end %>
  </div>
</div>

