<div class="box">
  <div class="box_header">
    <h1>Edycja zdjęcia</h1>
  </div>
  <div class="box_content">
  <% form_for @photo do |f| %>
    <%= f.error_messages %>

    <p>
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :added %><br />
      <%= f.datetime_select :added %>
    </p>
    <p>
      <%= f.submit 'Zapisz' %>
    </p>
  <% end %>

  <%= link_to 'Pokaż', @photo %>
</div>
</div>