<div class="box">
  <div class="box_header">
    <h1>New broadcast_message</h1>
  </div>
  <div class="box_content">
    <% form_for(@broadcast_message) do |f| %>
      <%= f.error_messages %>

      <p>
        <%= f.label :live_broadcast_id %><br />
        <%= f.text_field :live_broadcast_id %>
      </p>
      <p>
        <%= f.label :body %><br />
        <%= f.text_field :body %>
      </p>
      <p>
        <%= f.label :minute %><br />
        <%= f.text_field :minute %>
      </p>
      <p>
        <%= f.submit 'Create' %>
      </p>
    <% end %>

    <%= link_to 'Back', broadcast_messages_path %>
  </div>
</div>