<div class="box">
  <div class="box_header">
    <h1>New card</h1>
  </div>
  <div class="box_content">
    <% form_for(@card) do |f| %>
      <%= f.error_messages %>

      <p>
        <%= f.label :player_id %><br />
        <%= f.text_field :player_id %>
      </p>
      <p>
        <%= f.label :appearance_id %><br />
        <%= f.text_field :appearance_id %>
      </p>
      <p>
        <%= f.label :team_id %><br />
        <%= f.text_field :team_id %>
      </p>
      <p>
        <%= f.label :minute %><br />
        <%= f.text_field :minute %>
      </p>
      <p>
        <%= f.label :info %><br />
        <%= f.text_area :info %>
      </p>
      <p>
        <%= f.label :color %><br />
        <%= f.text_field :color %>
      </p>
      <p>
        <%= f.submit 'Create' %>
      </p>
    <% end %>

    <%= link_to 'Back', cards_path %>
  </div>
</div>