<div class="box">
  <div class="box_content">
    <p>
      <b>Player:</b>
      <%=h @card.player_id %>
    </p>

    <p>
      <b>Appearance:</b>
      <%=h @card.appearance_id %>
    </p>

    <p>
      <b>Team:</b>
      <%=h @card.team_id %>
    </p>

    <p>
      <b>Minute:</b>
      <%=h @card.minute %>
    </p>

    <p>
      <b>Info:</b>
      <%=h @card.info %>
    </p>

    <p>
      <b>Color:</b>
      <%=h @card.color %>
    </p>


    <%= link_to 'Edit', edit_card_path(@card) %> |
    <%= link_to 'Back', cards_path %>

  </div>
</div>