<div class="box">
  <div class="box_header">
    <h1>Wszystkie bramki</h1>
  </div>
  <div class="box_content">

    <table>
      <tr>
        <th>Player</th>
        <th>Appearance</th>
        <th>Team</th>
        <th>Minute</th>
        <th>Info</th>
        <th>Own</th>
      </tr>

      <% @goals.each do |goal| %>
        <tr>
          <td><%=h goal.player_id %></td>
          <td><%=h goal.appearance_id %></td>
          <td><%=h goal.team_id %></td>
          <td><%=h goal.minute %></td>
          <td><%=h goal.info %></td>
          <td><%=h goal.own %></td>
          <td><%= link_to 'Show', goal %></td>
          <td><%= link_to 'Edit', edit_goal_path(goal) %></td>
          <td><%= link_to 'Destroy', goal, :confirm => 'Are you sure?', :method => :delete %></td>
        </tr>
      <% end %>
    </table>

    <br />

    <%= link_to 'Nowa', new_goal_path %>
  </div>
</div>