
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <title>Motobi Bystrzyca Kąty Wrocławskie</title>
    <meta name="description" content="Oficjalny serwis internetowy klubu sportowego Motobi Bystrzyca Kąty Wrocławskie." />
    <meta name="keywords" content="motobi, bystrzyca, kąty wrocławskie, motobi-bystrzyca, katy wroclawskie, motobi bystrzyca" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <%= javascript_include_tag :defaults %>
    <%= ajaxful_rating_style %>
    <script type = "text/javascript">
      // Define the entry point
      $(document).ready(function()
      {
        start();
      });
    </script>
    <link rel="shortcut icon" href="/motobi_favicon.ico" type="image/x-icon" />
    <meta name="google-site-verification" content="mO58k5dXJV8oR3mFfB0Pnb6j1_7jzNnv9-__AAAsqwc" />
    <%= yield :head %>
  </head>
  <body>

    <div class="">
      <%= render :partial => 'partials/site_menu' %>
      <div id="layout">
          <div id="content_layout">
            <div id="content-feature">
              <%= render :partial => 'partials/notice' %>
              <%= render :partial => 'partials/error' %>

              <%= yield :feature %>
            </div>
            <div id="content-main">
              <%= yield %>
            </div>
            <div id="content-promo">
              <%= yield :right_column %>
              <%= yield :promo %>
              <%= render :partial => "shoutboxes/small_shoutbox" %>
              <%= render :partial => "partials/top_commentators", :locals => {:title => "Komentarze", :list => @top_users, :unit => ""} %>
              <%= render :partial => 'users/users_counter' %>
            </div>

          </div>
         <div id="left_sidebar">
            <div id="menu">
              <%= yield :menu %>
            </div>
            <%= yield :left_column %>
          </div>
      </div>

      <%= render :partial => 'sponsors/sponsors_list' %>

      <%= render :partial => 'partials/site_footer'  %>

    </div>
    <%= render :partial => 'partials/google_scripts' %>

    <% if ENV["RAILS_ENV"] == "development" %>
      <div>
        <%= debug(params) %>
      </div>
    <%  end %>

  </body>
</html>
