
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <title>Motobi Bystrzyca Kąty Wrocławskie</title>
    <meta name="description" content="Oficjalny serwis internetowy klubu sportowego Motobi Bystrzyca Kąty Wrocławskie." />
    <meta name="keywords" content="motobi, bystrzyca, kąty wrocławskie, motobi-bystrzyca, katy wroclawskie, motobi bystrzyca" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="/motobi_favicon.ico" type="image/x-icon" />
    <meta name="google-site-verification" content="mO58k5dXJV8oR3mFfB0Pnb6j1_7jzNnv9-__AAAsqwc" />

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
  </head>
  <body>
    <div class="row">
      <div class="twelve columns">
        <%= render :partial => 'partials/site_menu' %>
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        <%= render :partial => 'partials/notice' %>
        <%= render :partial => 'partials/error' %>
      </div>
    </div>
    <div class="row">
      <% if  content_for?(:right) %>
      <div class="eight columns">
        <%= yield %>
      </div>
      <div class="four columns">
        <%= yield :right %>
      </div>
      <% else %>
      <div class="twelve columns">
        <%= yield %>
      </div>
      <% end %>
    </div>
    <div class="row">
      <div class="twelve columns">
        <%= render :partial => 'sponsors/sponsors_list' %>
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        <%= render :partial => 'partials/site_footer'  %>
      </div>
    </div>
    <%= render :partial => 'partials/google_scripts' %>

    <% if ENV["RAILS_ENV"] == "development" %>
      <div>
        <%= debug(params) %>
      </div>
    <%  end %>

  </body>
</html>
